*{
    padding: 0;
    margin: 0;
}
body{
    background-color:burlywood;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(65, 69, 71);
    font-size: 8vmin;
    color:rgb(0, 0, 0);
    background-color:cornsilk;
}
.resetBtn{
    padding: 1rem;
    border-radius:  1rem;
    border: none;
    font-size: 1rem;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
}
.NewButton{
      padding: 1rem;
    border-radius:  1rem;
    border: none;
    font-size: 1rem;
    background-color: black;
    color: whitesmoke;
    cursor: pointer;
    
}

#msg{
    font-size: 3rem;
}
.msg-container{
    height: 100vmin;
    margin: 400px auto;
}
.hide{
    display: none;
}

.title-box{
    background-color: black;
    color: aliceblue;
    padding: 15px 20px;
    margin: 30px auto;
    width: fit-content;
    border-radius: 1rem;
}


